body {
font-family: Arial;
background: #f4f4f4;
}


.card {
background: white;
padding: 20px;
margin: 20px auto;
width: 300px;
border-radius: 6px;
}


input, button {
width: 100%;
margin: 5px 0;
padding: 8px;
}


.nav {
background: #222;
padding: 10px;
}


.nav button {
margin-right: 10px;
}